@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Open+Sans:wght@300;400;500;600;700;800&family=Source+Code+Pro:wght@300;400&display=swap');

* {
    transition: 0.5s;
}

.main-logo{
    filter: drop-shadow(4px 4px 3px rgb(0 0 0 / 0.5));
}

.logo-container{
    margin: 1rem;
    padding-left: .8rem;
    padding-right: .8rem;
    height: 160px;
    background-color: #66C2FB;
    border-radius: 5rem 3rem 5rem 3rem;
}

.logo-container:hover{
    background-color: #034873;
    box-shadow: inset 4px 4px 5px rgb(0 0 0 / 0.5);
}

.logo-container:active{
    background-color: #034873;
    box-shadow: inset 8px 8px 5px rgb(0 0 0 / 0.5);
    transition: 0.25s;
}

.logo-container.selected{
    background-color: #0690E6;
    box-shadow: 4px 4px 5px rgb(0 0 0 / 0.5);
}